#name: Deploy
#
#on: [push]
#
#jobs:
#  build:
#
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v1
#
#      - name: Copy repository contents via scp
#        uses: rust-am/routesapi@master
#        env:
#          HOST: ${{ secrets.HOST }}
#          USERNAME: ${{ secrets.USERNAME }}
#          PORT: ${{ secrets.PORT }}
#          KEY: ${{ secrets.SSHKEY }}
#        with:
#          source: "."
#          target: "/var/www/routesapi"
#
#      - name: Executing remote command
#        uses: rust-am/routesapi@master
#        with:
#          host: ${{ secrets.HOST }}
#          USERNAME: ${{ secrets.USERNAME }}
#          PORT: ${{ secrets.PORT }}
#          KEY: ${{ secrets.SSHKEY }}
#          script: rails s
